<!DOCTYPE html>
<html lang="en">
<head>
    <title>My AngularJS App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="myApp" layout="column" ng-controller="MovieController as mc">

<md-toolbar layout="row">
    <md-button class="menu" hide-gt-sm ng-click="mc.toggleMenu()" aria-label="Show Menu">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>My Movie Collection</h1>
</md-toolbar>

<div flex layout="row">

    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
        <h3>Sidebar content</h3>
        <input type="text" ng-model="filterVal"/>
    </md-sidenav>

    <md-content flex id="content">
        <md-list>
            <md-item ng-repeat="movie in mc.movies | filter : filterVal">
                <md-item-content>
                    <div class="md-title-content">
                        <h3>{{movie.title}}</h3>

                        <p>{{movie.rating}}: {{movie.format}} &mdash; {{movie.genre}}<span
                                ng-if="movie.subGenre && movie.subGenre !== 'None'">, {{movie.subGenre}}</span></p>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>

</div>

<!--<div>Angular seed app: v<span app-version></span></div>-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-loader/angular-loader.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="core/services/MovieService.js"></script>
<script src="movies/movies.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
