<!DOCTYPE html>
<html lang="en">
<head>
    <title>My AngularJS App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="myApp" layout="column" ng-controller="MovieController as mc">

<md-toolbar layout="row">
    <md-button class="menu" hide-gt-sm ng-click="mc.toggleMenu()" aria-label="Show Menu">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>My Movie Collection</h1>
</md-toolbar>

<div flex layout="row">

    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
        <md-content class="md-padding" layout="column" style="font-size:1.2em">
            <section>
                <h3 class="sidebarTitle">Order By:</h3>
                <md-select ng-model="mc.orderBy" class="selectOrderBy sidebarSelect">
                    <md-option ng-value="obv" ng-repeat="obv in mc.orderByValues" class="optionOrderBy">{{obv}}
                    </md-option>
                </md-select>
            </section>
            <section layout="column" class="sidebarSectionDivider">
                <h3 class="sidebarTitle">Filter By:</h3>
                <md-input-container flex class="sidebarInput">
                    <label>Title</label>
                    <input ng-model="mc.criteria.title" placeholder="Enter any part of the title">
                </md-input-container>
                <md-input-container flex class="sidebarInput">
                    <label>Genre</label>
                    <input ng-model="mc.criteria.genre" placeholder="Select a specific genre">
                </md-input-container>
                <md-select ng-model="mc.criteria.rating" placeholder="Rating" class="sidebarSelect">
                    <md-option ng-value="rating" ng-repeat="rating in mc.ratings">{{rating}}</md-option>
                </md-select>
                <md-select ng-model="mc.criteria.format" placeholder="Format" class="sidebarSelect">
                    <md-option ng-value="format" ng-repeat="format in mc.formats">{{format}}</md-option>
                </md-select>
            </section>
        </md-content>
    </md-sidenav>
    <movie-list order-by="{{mc.orderBy}}" criteria="mc.criteria" class="movie-list"></movie-list>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-loader/angular-loader.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="app.js"></script>
<script src="core/services/MovieService.js"></script>
<script src="movies/movies.js"></script>
<script src="movies/movieListDirective.js"></script>
<script src="movies/movieItemDirective.js"></script>
<script src="movies/genreFilter.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>